@page "/update-prescription/{CurrentID}"
@using MedicalSystems.Data
@inject PrescriptionRepository prescriptionRepository
@inject NavigationManager NavigationManager

<h2>Update Prescription</h2>
<hr />
<p class="text-danger">@validationMessage</p>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="DrugNames" class="control-label">Drug Names</label>
                <input form="DrugNames" class="form-control" @bind="@objPrescription.DrugNames" />
            </div>
            <div class="form-group">
                <label for="IsCompensated" class="control-label">Is Compensated</label>
                <select class="form-control" @bind="@objPrescription.IsCompensated">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdatePrescriptionInfo" value="Update" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string CurrentID { get; set; }
    Prescription objPrescription = new Prescription();
    string validationMessage = "Here you can update prescriptions";
    string initialDrugNames;

    protected override async Task OnInitializedAsync()
    {
        objPrescription = await Task.Run(() => prescriptionRepository.GetPrescriptionById(Convert.ToInt32(CurrentID)));
        initialDrugNames = objPrescription.DrugNames;
    }

    protected void UpdatePrescriptionInfo()
    {

        if (MedicalSystem.Pages.PrescriptionComponents.PrescriptionValidations.ValidateDrugs(objPrescription.DrugNames))
        {
                    prescriptionRepository.UpdatePrescription(objPrescription);
                    NavigationManager.NavigateTo("prescription");
                }
                else
                {
                    validationMessage = "Please enter a valid drug list";
                    objPrescription.DrugNames = initialDrugNames;
                }
            }
            
            void Cancel()
            {
                NavigationManager.NavigateTo("prescription");
            } 
}
