@page "/update-medic/{CurrentID}"
@using MedicalSystem.Pages.MedicComponents
@using MedicalSystems.Data
@inject MedicRepository medicRepository
@inject NavigationManager NavigationManager

<h2>Update Medic</h2>
<hr />
<p class="text-danger">@validationMessage</p>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@objMedic.Name" />
            </div>
            <div class="form-group">
                <label for="Specialty" class="control-label">Specialty</label>
                <select @bind="@objMedic.Specialty" class="form-control">
                    <option value="General">General</option>
                    <option value="Cardiology">Cardiology</option>
                    <option value="Hematology">Hematology</option>
                    <option value="Psychology">Psychology</option>
                </select>
            </div>
            <div class="form-group">
                <label for="RatePerHour" class="control-label">Rate per Hour $</label>
                <input form="RatePerHour" class="form-control" @bind="@objMedic.RatePerHour" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateMedicInfo" value="Update" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string CurrentID { get; set; }
    Medic objMedic = new Medic();
    string validationMessage = "Here you can update the medic data";
    Medic initialMedicValues = new Medic();

    protected override async Task OnInitializedAsync()
    {
        objMedic = await Task.Run(() => medicRepository.GetMedicById(Convert.ToInt32(CurrentID)));
        initialMedicValues.Name = objMedic.Name;
        initialMedicValues.RatePerHour = objMedic.RatePerHour;
    }

    protected void UpdateMedicInfo()
    {
        if (MedicValidations.ValidateMedic(objMedic.Name, objMedic.RatePerHour))
        {
            medicRepository.UpdateMedic(objMedic);
            NavigationManager.NavigateTo("medic");
        }
        else
        {
            validationMessage = "Please verify that the rate per hour is greater than 0 and the medic name is not empty and starts with uppercase";
            objMedic.Name = initialMedicValues.Name;
            objMedic.RatePerHour = initialMedicValues.RatePerHour;
        }
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("medic");
    }
}
