@page "/add-appointment"
@using MedicalSystems.Data
@inject AppointmentRepository appointmentRepository
@inject NavigationManager NavigationManager

<h2>Add Appointment</h2>
<hr />
<p class="text-danger">@message</p>

<form>
    <div class="row">
        <div class="col-md-8">

            <div class="form-group">
                <label for="FirstName" class="control-label">Medic</label>
                <input form="FirstName" class="form-control" @bind="@objAppointment.Medic" />
            </div>

            <div class="form-group">
                <label for="LastName" class="control-label">Patient</label>
                <input form="LastName" class="form-control" @bind="@objAppointment.Patient" />
            </div>

            <div class="form-group">
                <label for="Date" class="control-label">Appointment Date</label>
                <input form="Date" class="form-control" @bind="@objAppointment.Date" />
            </div>        
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateAppointment" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    Appointment objAppointment = new Appointment();
    string message = "Here you can add an appointment";
    protected void CreateAppointment()
    {
        if (AppointmentValidations.IsValidAppointment(objAppointment))
        {
            appointmentRepository.CreateAppointment(objAppointment);
            NavigationManager.NavigateTo("appointment");
        }
        else
        {
           message = "Please add valid medic and patient data";      
        }
    }
    void Cancel()
            {
                NavigationManager.NavigateTo("appointment");
            } 
}
